@media only screen and (min-width : 480px)  {
    /* ХЕДЕР */
    /* ФУТЕР */
    /* БАННЕР */
    /*ІНФО В РЯД*/
    /*ВІДЕО*/
    /*МЕНЮ СІТКОЮ*/
    .grid_menu .centre {
        grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    }
    /*ПЕРЕВАГИ*/
    /*ГОЛОВНА СТАТТЯ*/
    /*СЛАЙДЕР*/
    /* НОВИНИ */
    /*АКОРДІОН*/
    /*ВІДГУКИ І РЕКОМЕНДАЦІЇ*/
    /*ВІДГУКИ*/
    /*РЕКОМЕНДАЦІЇ*/
}

@media only screen and (min-width : 640px)  {
    /* ХЕДЕР */
    /* ФУТЕР */
    /* БАННЕР */
    /*ІНФО В РЯД*/
    /*ВІДЕО*/
    .video_preload {
        height: 500px;
    }

    .video_box iframe {
        height: 500px;
    }
    /*МЕНЮ СІТКОЮ*/
    /*ПЕРЕВАГИ*/
    /*ГОЛОВНА СТАТТЯ*/
    /*СЛАЙДЕР*/
    /* НОВИНИ */
    /*АКОРДІОН*/
    /*ВІДГУКИ І РЕКОМЕНДАЦІЇ*/
    .reviews_grid {
        grid-template-columns: 1fr 1fr;
    }
    /*ВІДГУКИ*/
    /*РЕКОМЕНДАЦІЇ*/
}

@media only screen and (min-width : 768px)  {
    /* ХЕДЕР */

    .site_header .centre {
        min-height: 72px;
    }

    .юmob_menu-logo {
        height: 50px;
        width: 100px;
        object-fit: contain;
    }

    .top_menu {
        display: block;
    }

    .top_menu > Ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .top_menu > Ul > Li {
        margin: 0 15px;
        position: relative;
    }

    .top_menu > Ul > Li > A {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        color: var(--text-color);
    }

    .site_header.header_transparent .top_menu > Ul > Li > A {
        color: var(--text-contrast)
    }

    .top_menu Li.has_drop A {
        padding-right: 15px;
        position: relative;
    }

    .top_menu Li.has_drop > A::after {
        content: "";
        width: 6px;
        height: 6px;
        border-bottom: 1px solid var(--text-color);
        border-left: 1px solid var(--text-color);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) rotate(-45deg);
        transition: 0.3s;
    }

    .top_menu Li.has_drop:hover > A::after {
        transform: translateY(-50%) rotate(135deg);
    }

    .site_header.header_transparent .top_menu Li.has_drop > A::after {
        border-color: var(--text-contrast);
    }

    .top_menu Li.has_drop UL {
        display: flex;
        flex-direction: column;
        width: 300px;
        background-color: var(--site-bg-color);
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        border-radius: 6px;
        border: 1px solid var(--border-color);
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    .top_menu Li.has_drop UL A {
        display: block;
        color: var(--text-color);
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        padding: 12px 15px;
        transition: 0.3s;
    }

    .top_menu Li.has_drop UL A:hover {
        color: var(--main-color);
        background-color: #F5F7FA;;
    }

    .top_menu Li.has_drop:hover UL {
        opacity: 1;
        visibility: visible;
    }

    .header_phones {
        display: flex;
        flex-direction: column;
    }

    .header_phones A {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--text-color);
        font-size: 20px;
        line-height: 1.4;
        font-weight: 700;
        transition: 0.3s;
    }

    .header_phones A:hover {
        opacity: 0.7;
    }

    .site_header.header_transparent .header_phones A {
        color: var(--text-contrast)
    }

    .header_phones A .icon {
        width: 16px;
        height: 16px;
        margin-right: 15px;
    }

    .mob_menu-open {
        display: none;
    }

    .mob_menu {
        display: none;
    }

    /* ФУТЕР */

    .site_footer {
        padding-top: 35px;
    }

    .site_footer .centre {
        display: flex;
    }

    .site_footer .centre > .col-1 {
        flex: 0 1 18%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px 0 0;
    }

    .site_footer .centre > .col-1 .footer-phone {
        display: none;
    }

    .site_footer .centre > .col-1 .footer-social {
        display: none;
    }

    .footer_logo {
        position: relative;
        max-width: 150px;
        top: auto;
        left: auto;
    }

    .site_footer .centre > .col-2 {
        flex: 0 1 62%;
        display: flex;
        padding: 0;
        margin: 0;
        border-bottom: none;
    }

    .bottom_menu {
        flex: 0 1 50%;
    }

    .work_info {
        flex: 0 1 50%;
        padding-left: 10px;
    }

    .show_map {
        margin-left: 30px;
    }

    .bottom_menu Ul {
        margin-bottom: 0;
        grid-template-columns: 1fr;
    }

    .site_footer .centre > .col-3 {
        flex: 0 1 20%;
        align-items: flex-end;
    }

    .site_footer .centre > .col-3 .footer-phone {
        display: block;
    }

    .site_footer .centre > .col-3 .footer-social {
        display: flex;
    }

    .site_footer .centre > .col-3 .privacy {
        text-align: end;
        margin-bottom: 5px;
    }

    .site_footer .centre > .col-3 .copy {
        text-align: end;
        font-size: 13px;
    }
    /* БАННЕР */
    /*ІНФО В РЯД*/

    .info_one {
        flex-direction: row;
    }

    .info_one > .col-1 {
        flex: 0 0 400px
    }

    .info_one > .col-2 {
        flex: 1 1 auto;
        line-height: 1.6;
    }
    /*ВІДЕО*/
    /*МЕНЮ СІТКОЮ*/
    .grid_menu .centre {
        grid-gap: 30px
    }
    .grid_menu A {
        font-size: 20px;
        min-height: 150px;
        padding: 30px;
    }
    .grid_menu A Img {
        width: 80px;
        height: 80px;
    }
    /*ПЕРЕВАГИ*/

    .preference .sub_title {
        text-align: center;
        margin-bottom: 60px;
    }
    .preference_grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .preference_grid figure {
        align-items: center;
        padding-left: 0;
    }

    .preference_img {
        width: 80px;
        height: 80px;
        margin-bottom: 40px;
        position: relative;
        top: auto;
        left: auto;
    }

    .preference_grid B {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    .preference_grid Span {
        text-align: center;
    }
    /*ГОЛОВНА СТАТТЯ*/
    /*СЛАЙДЕР*/
    .slider_block {
        height: 370px;
    }
    /* НОВИНИ */
    /*АКОРДІОН*/
    /*ВІДГУКИ І РЕКОМЕНДАЦІЇ*/
    /*ВІДГУКИ*/
    /*РЕКОМЕНДАЦІЇ*/
}

@media only screen and (min-width : 1024px) {
    :root {
        --section-bottom: 120px;
    }

    body {
        font-size: 20px;
    }

    .clickpath A {
        font-size: 12px;
    }

    .main_title,
    h1 {
        font-size: 60px;
        margin-bottom: 60px;
    }

    .sub_title,
    h2 {
        font-size: 52px;
        margin-bottom: 45px;
    }

    .item_title,
    h3 {
        font-size: 32px;
        margin-bottom: 32px;
    }

    .box_title,
    h4, h5 {
        font-size: 24px;
    }

    .input-wrap:hover::after {
        opacity: 1;
        visibility: visible;
    }
    /* ХЕДЕР */
    /* ФУТЕР */

    .bottom_menu Ul {
        grid-template-columns: 1fr 1fr;
    }

    .bottom_menu {
        flex: 0 1 60%;
    }

    .work_info {
        flex: 0 1 40%;
        padding-left: 10px;
    }

    .footer-phone A {
        font-size: 20px;
        transition: 0.3s;
    }

    .footer-phone A:hover {
        opacity: 0.7;
    }

    .footer-social a {
        transition: 0.3s;
    }

    .footer-social a:hover {
        opacity: 0.7;
    }

    .footer-social {
        margin-bottom: auto;
    }

    /* БАННЕР */

    .main_banner {
        margin-bottom: 120px;
    }

    .main_banner .centre {
        padding-top: 250px;
        padding-bottom: 358px;
    }

    .activity {
        font-size: 24px;
    }
    /*ІНФО В РЯД*/

    .info_one + .info_one {
        margin-top: 120px;
    }
    /*ВІДЕО*/
    /*МЕНЮ СІТКОЮ*/
    /*ПЕРЕВАГИ*/
    /*ГОЛОВНА СТАТТЯ*/
    .main_article Time {
        margin-bottom: 44px;
    }
    /*СЛАЙДЕР*/
    /* НОВИНИ */
    .news_row Li {
        padding: 40px 40px 80px 40px;
    }

    .news_row Li + Li {
        margin-top: 40px;
    }

    .news_list-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .news_list Time {
        font-size: 16px;
        left: 40px;
        bottom: 40px;
    }

    .news_list Time .icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    .show_news {
        font-size: 14px;
        right: 40px;
        bottom: 40px;
    }

    .pagination {
        margin-top: 60px;
        justify-content: center;
    }

    .pag_btn {
        font-weight: 700;
        height: 46px;
        text-transform: uppercase;
    }

    .pagination Ul {
        margin: 0 7px;
    }

    .pagination Li {
        margin: 7px;
    }

    .pagination Li A,
    .pagination Li b,
    .pagination Li span {
        font-size: 16px;
        min-width: 46px;
        height: 46px;
    }
    /*АКОРДІОН*/

    .accordion_header {
        padding: 30px 90px 30px 40px;
        min-height: 90px;
    }

    .accordion_header::before,
    .accordion_header::after {
        top: 46px;
        right: 30px;
    }

    .accordion_block Li + Li {
        margin-top: 30px;
    }
    /*ВІДГУКИ І РЕКОМЕНДАЦІЇ*/

    .reviews_reference .item_title {
        margin-bottom: 60px;
    }

    .reviews_grid {
        grid-gap: 30px;
    }

    .reviews_grid li {
        padding: 30px 30px 30px 70px;
    }

    .reviews_icon {
        top: 36px;
        left: 30px;
        width: 24px;
        height: 24px;
    }

    .reviews_grid .box_title {
        margin-bottom: 21px;
    }
    /*ВІДГУКИ*/

    .reviews {
        overflow: hidden;
    }

    .reviews_slide {
        width: 970px;
        margin: 0 15px;
        padding: 40px 50px 43px 50px;
        position: relative;
    }

    .reviews_slide::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.5;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s;
        z-index: 1;
    }

    .reviews_slide.slick-current::before {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .reviews_slider {
        position: relative;
    }
    /*РЕКОМЕНДАЦІЇ*/
}

@media only screen and (min-width : 1280px) {
    /* ХЕДЕР */
    /* ФУТЕР */
    /* БАННЕР */
    /*ІНФО В РЯД*/
    /*ВІДЕО*/
    /*МЕНЮ СІТКОЮ*/
    /*ПЕРЕВАГИ*/
    /*ГОЛОВНА СТАТТЯ*/
    /*СЛАЙДЕР*/
    .slider_block .slick-arrow.slick-prev {
        left: calc(50% - 585px);
    }
    .slider_block .slick-arrow.slick-next {
        right: calc(50% - 585px);
    }
    /* НОВИНИ */
    /*АКОРДІОН*/
    /*ВІДГУКИ І РЕКОМЕНДАЦІЇ*/
    /*ВІДГУКИ*/

    .reviews_slider .slick-arrow.slick-next {
        right: 50%;
        transform: translateX(585px) rotate(180deg);
    }

    .reviews_slider .slick-arrow.slick-prev {
        left: 50%;
        transform: translateX(-585px);
    }
    /*РЕКОМЕНДАЦІЇ*/
}