/* ХЕДЕР */

.site_header {
    background-color: var(--header-bg-color);
}

.site_header .centre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 62px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header_logo {
    display: block;
    flex: 0 0 90px;
    height: auto;
}

.header_logo Img {
    display: block;
    width: 100%;
    height: auto;
}

.top_menu {
    display: none;
}

.header_phones {
    display: none;
}

.mob_menu-open {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    width: 30px;
    position: relative;
}

.mob_menu-open::before,
.mob_menu-open::after {
    content: "";
    width: 26px;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    right: 0;
}

.mob_menu-open::before {
    top: 5px;
}

.mob_menu-open::after {
    bottom: 5px;
}

.mob_menu-open i {
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--main-color);
}

.mob_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    padding: 8px 15px 10px 15px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: var(--mob-menu-bg);
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.mob_menu.active {
    opacity: 1;
    visibility: visible;
}

.mob_menu-close {
    position: absolute;
    top: 15px;
    right: 10px;
}

.mob_menu-close.close_btn::before,
.mob_menu-close.close_btn::after {
    background-color: var(--text-contrast);
}

.mob_menu-logo {
    display: block;
    margin-bottom: 15px;
    width: 90px;
    height: 45px;
}

.mob_menu-logo Img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mob_top-menu {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 24px;
}

.mob_top-menu ul ul {
    display: none;
    padding: 15px 0 0 30px;
}

.mob_top-menu Ul Li.menu_opened Ul {
    display: block;
}

.mob_top-menu Ul Li + Li {
    margin-top: 15px;
}

.mob_top-menu A {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-contrast);
    -webkit-tap-highlight-color: transparent;
}

.mob_top-menu Ul Ul A {
    opacity: 0.8;
}

.mob_top-menu > Ul > Li > a {
    display: block;
    width: 100%;
    max-width: 230px;
    padding-right: 10px;
    position: relative;
    transition: 0.3s;
}

.mob_top-menu > Ul > Li.has_drop > a::before {
    content: "";
    width: 6px;
    height: 6px;
    border-bottom: 1px solid var(--text-contrast);
    border-left: 1px solid var(--text-contrast);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-45deg);
    transition: 0.3s;
    -webkit-tap-highlight-color: transparent;
}

.mob_top-menu > Ul > Li.has_drop.menu_opened > a::before {
    transform: translateY(-50%) rotate(135deg);
}

.mob_top-menu Li.menu_opened > A {
    font-weight: 700;
}

.mob_menu-phone {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.mob_menu-phone A {
    text-decoration: none;
    color: var(--text-contrast);
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
}

.mob_menu-phone A .icon {
    width: 16px;
    height: 16px;
    margin-right: 15px;
}

.mob_menu-social {
    display: flex;
    flex-wrap: wrap;
}

.mob_menu-social .icon {
    width: 32px;
    height: 32px;
    margin: 0 20px;
}