/*ІНФО В РЯД*/

.info_row {
    padding-bottom: var(--section-bottom);
}

.info_one {
    display: flex;
    flex-direction: column;
}

.info_one + .info_one {
    margin-top: 80px;
}

.info_row.red_text .sub_title {
    color: var(--main-color)
}

.info_one > .col-2 {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

.info_one > .col-2 > * + * {
    margin-top: 15px;
}

.info_one > .col-2 b {
    font-size: 18px;
}