/* БАННЕР */
.main_banner {
    position: relative;
    color: var(--text-contrast);
    margin-bottom: 80px;
}

.main_banner > Picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main_banner > Picture::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #2C2A39;
    opacity:0.65;
}

.main_banner > Picture Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_banner .centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 128px;
}

.main_banner .main_title {
    text-align: center;
    color: var(--text-contrast);
    margin-bottom: 20px;
}

.activity {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.main_banner-text {
    text-align: center;
    line-height: 1.6;
}