/*ГОЛОВНА СТАТТЯ*/
.main_article {
    line-height: 1.6;
}

.main_article .centre {
    padding-bottom: var(--section-bottom);
}

.main_article .centre {
    max-width: 970px;
}

.main_article h1 {
    text-align: center;
}

Article Img {
    max-width: 100%;
}

.main_article Time {
    color: var(--text-light);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.main_article Time .icon {
    fill: var(--text-light);
    margin-right: 10px;
}
