/*СЛАЙДЕР*/

.main_slider {
    padding-bottom: var(--section-bottom);
}

.slider_block {
    position: relative;
    height: 258px;
}

.slider_block:not(.slick-initialized) {
    display: flex;
    overflow: hidden;
}

.slider_block.slick-initialized .slick-list {
    height: 100%;
}

.slider_block.slick-initialized .slick-track {
    height: 100%;
}

.slide_one {
    height: 100%;
    width: auto;
    margin: 0 5px;
}

.slide_one Img {
    display: block;
    height: 100%;
    width: auto;
}