/*ГОЛОВНА СТАТТЯ*/
.main_article {
}

.main_article .centre {
    padding-bottom: var(--section-bottom);
}

.main_article .centre {
    max-width: 970px;
}

.main_article h1 {
    text-align: center;
}

Article Img {
    max-width: 100%;
}
